@import '../../vars/scss_variables';

@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.workspace-board {
    @include flexBox;
    background: #282c34;
}

.workspace-board__map {
    //background-image: linear-gradient(77deg, #359, #397, #283);
    background-image: url('./addons/workspace_map.svg');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

.vertice {
    width: .16em;
    padding: .16em;
    background: lightblue;
    border-radius: 50%;
    position: absolute;
}

.shape_preview {
    position: absolute;
    background: lightgray;
}

.shape_preview--square {
    color: navajowhite; // some default stuff, remove this later
}

.shape_preview--circle {
    border-radius: 50%;
}

.shape_preview--rectangle {
    color: royalblue;
}

.shape-preview--triangle {
    color: turquoise;
    background: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: aquamarine;
}

.shape {
    position: absolute;
    background: lightslategrey;
    pointer-events: auto;
}

.shape--square {
    border: .1em solid lightskyblue;
}

.shape--circle {
    border: .1em solid lightgreen;
    border-radius: 50%;
}

.shape--rectangle {
    border: .1em solid lightyellow;
}

.shape--triangle {
    background: none !important;
    width: 0;
    height: 0; 
    border-left-style:  solid;
    border-left-color:  transparent;
    border-right-style:  solid;
    border-right-color: transparent;
    border-bottom-style: solid;
    border-bottom-color: lightslategrey !important;
}

.untargetable {
    pointer-events: none;
}

// When user clicks onto a shape, this happens
.target_shape {
    background: pink;
}