@import '../../vars/scss_variables';

@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-box {
    background: linear-gradient(135deg, #1117 5%, #2228, #1117 95%);
    border-width: 0em 0em 0em .1em;
    box-shadow: 0em 0em .1em .1em $color__primary--misty,
    0em 0em .3em .3em #222c;
    color: $color__primary--dark;
    font-weight: 550;
}

.option-box__message {
    @include flexBox;
    font-size: 1.2rem;
    height: 100%;
}